---
import logo from '../assets/logo-ops.svg'
---

<div id="container">
  <main>
    <section id="hero" class="flex flex-col max-w-56">
      <img src={logo.src} alt="" fetchpriority="high" />
      <h1>
        Unidad de Promoción de la Salud y Determinantes Sociales de la Salud -
        OPS / PAHO
      </h1>
      <p>
        Sitio web de la Unidad de Promoción de la Salud y Determinantes Sociales
        de la Salud
      </p>
    </section>
  </main>
</div>
